# Required Python packages get listed here, one per line.
# Reccomended to lock the version number to avoid unexpected changes.

# You can also install packages from a git repository, e.g.:
# git+https://github.com/runpod/runpod-python.git
# To learn more, see https://pip.pypa.io/en/stable/reference/requirements-file-format/

runpod==1.7.12
xformers==0.0.30
transformers
# kenlm
bitsandbytes
accelerate
sentencepiece
sacremoses
wandb
torch
requests
pyctcdecode
python-dotenv
pandas
google-cloud-storage
jiwer
librosa
Werkzeug
unsloth @ git+https://github.com/unslothai/unsloth.git
unsloth_zoo
trl
peft
Werkzeug
pyannote.audio
onnxruntime
numpy==1.26.4
soundfile
datasets
pydub==0.25.1
pydub-stubs==0.25.1.1
silero-vad
torchaudio
omegaconf
einx
einops
huggingface-hub